.lead__subtitle {
    margin: 0 auto 64px;
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    padding: 0;
}
@media screen and (max-width: calc(1280px - ((1280px - 1024px) / 2))) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}
@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin: 0 auto 40px;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}
