.place__link {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: white;
    text-underline-offset: 2px;
    transition: opacity 0.4s;
}